[Unit]
Description=AquaWatch Edge Detection Service
After=network.target

[Service]
ExecStart=/home/pi/aquawatch/venv/bin/python /home/pi/aquawatch/main.py
WorkingDirectory=/home/pi/aquawatch
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
